<form action='/links' method='post'>
  Insert Website name <input type='text' name='title'>
  Insert Url <input type='text' name='url'>
  Insert Tag <input type='text' name='tags'>
  <input type='submit' value='Create link'>
</form>
